body, html {
  font-family: Verdana, sans-serif;
  background-color: #000000;
  text-align: center;
  color: gray;
}

a {
  font-size: 16px;
  color: aquamarine;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

p {
  font-size: 21px;
  color: gray;
}

.footer {
  float: right;
  text-align: right;
  color: gray;
}
